<div class='home-container'>
	<h1 class='home-title'>From the Crowd</h1>
	<h3 class='home-title'>Every sports fan has an opinion. Share yours today.</h3>

	<%= link_to 'Sign up', new_user_path, class: 'button tiny sign-up' %>
		
</div>

<%= render 'layouts/footer' %>