<div class='row'>
	<div class='large-4 columns'>
		<div class='commenter center'>
			<%= image_tag(comment.user.avatar.url(:thumb), class: 'comment-pic') %>
			<p><strong><%= link_to comment.user.name, comment.user, class: 'username'%></strong></p>
		</div>
	</div>
	<div class='large-8 columns'>
		<div class='comment-container'>
			<%= comment.body %>
		</div>
	</div>
</div>