<div class="cover-image">
</div>


<div class='center article-title-container'>
	<h1 class='articles-title'>Trending Articles</h1>
	<%= link_to "Create Article", new_article_path, class: 'button tiny create-link' %>
</div>

<div class='background-container'>
	<div class='article-list-container'>
	<h3>The best articles of the month</h3>
	<ul class='article-list'>
		<% @articles.each do |article|  %>
			<li>
				<h4><%= link_to article.title, article_path(article) %></h4>
				<p>by <%= article.user.name %></p>
			</li>
		<% end %>
	</ul>
</div>