// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
#index-intro {
		padding: 30px;
}

.sort-link {
	width: 150px;
}
.sort-link {
	background-color: white;
}

.index-image {
	height: 200px;
	width: 200px;
	display: block;
	overflow: hidden;
}

.article-card img {
  width: 100%;
}

.article-card {
	width: 350px;
	border: 5px solid white;

}
.article-card:hover {	
	border-color: #BDC3C7;  
	
}
.article-card h3 {
	height: 50px;
	font-size: 1.2em;
	overflow: scroll;
	padding: 10px;


}
.article-card p {
		text-align: left;
		padding: 5px;
		font-size: 1.5em;
		margin: 0;
		padding: 10px;
}

.container {
	width: 90%;
	margin: auto;
}

#tag_cloud a {
	background-color: #BFBFBF;
	padding: 5px;
	font-size: 1.5em;
	border-radius: 10px;
}

#tag_cloud a:hover {
	opacity: 0.8;
	color: black;
}

.contribute_today {
		
		width: 100%;
		position: relative;

}
.contribute_today h2 {
		margin: 0;
		color: white;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }