// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
#index-intro {
		padding: 30px;
}

.index-image {
	height: 200px;
	width: 200px;
	display: block;
	overflow: hidden;
}

.article-card {
	border: 10px solid white;
	height: 400px;
	width: 25%;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	opacity: 1;
  transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
.article-card:hover {
	opacity: 0.8;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
	
}
.article-card h3 {
	opacity: 1 !important;
	height: 30%;
	overflow: hidden;

}
.article-card p {
		text-align: left;
		background-color: black;
		position: relative;
		top: 230px;
		color: white;
		padding: 5px;
		font-size: 1.5em;

}

.container {
	width: 90%;
	margin: auto;
    text-align: center;
}

#tag_cloud a {
	background-color: black;
	color: white;
	padding: 5px;
	font-size: 1.5em;
}

#tag_cloud a:hover {
	
	opacity: 0.8;

}