.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
	max-width: 100% !important;
}

.img-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.article-info-container {
	width: 100%;
}

.info-header {
	font-weight: bold;
	border-bottom: 2px solid #bdc3c7;
}

.author-link {
	text-decoration: underline;
}

.author-link:hover {
	color: black;
	background: white;
}

.info {
	margin-bottom: 40px;
}

.article-body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.article-show-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.article-show-title {
	color: black;	
	font-size: 2.5rem;
}

.article-author-info {
	color: grey;
}

.article-title-container {
	padding: 20px 0px;
}

.show-article-author {
	position: absolute;
	color: white;	
	top: 475px;
	left: 0;
	width: 100%;
}

.show-article-background {
	padding-top: 30px;
	background-color: white;
	bottom: 0;
	width: 100%;
	height: 110%;
}

.show-article-container {
	position: relative;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.body {
	padding-top: 20px;
	font-size: 1.2rem;
	padding-bottom: 80px;
	line-height: 2rem;
	clear: both;
}

a.user-name {
	text-decoration: underline;
}

a.user-name:hover {
	background-color: transparent;
	color: black;
}

a.user-name:visited {
	color:black;
}

.vote_gauge {
	background-color: white;
}


.top-writers-title {
	margin-top: 10px;
}

/*      */

.vote-button {
	background-color: white;
	border: 2px solid black;
	margin-top: 5px;
	font-weight: bold;
}

.vote-button:hover {
	background-color: black;
	color: white;
}

input[type='range'] {
	-webkit-appearance: none;
	border: 1px solid black;
	background-color: #fff;
	height: 7px;
	width: 100%;
	vertical-align: middle;
}
input[type='range']::-moz-range-track {
	 -moz-appearance: none;
	 box-shadow: inset 0 0 5px #fff;
	 background-color: #fff;
	 border: 1px solid #000;
	 height: 7px;
}
input[type='range']::-webkit-slider-thumb {
	 -webkit-appearance: none !important;
	 background-color: #000;
	 box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	 border: 1px solid #000;
	 height: 15px;
	 width: 15px;
}
input[type='range']::-moz-range-thumb {
	 -moz-appearance: none;
	 border-radius: 20px;
	 background-color: #000;
	 box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	 border: 1px solid #000;
	 height: 20px;
	 width: 20px;
	 outline: none;
}

.comment-time {
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.comment-name {
	margin-bottom: 0px;
	padding-top: 20px;
	font-size: 1rem;
}

.comment-body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1rem;
	text-align: left;
}

.comments {
	border-bottom: 1px solid #bdc3c7;
}

.comment {
	text-align: left;
}

.comments-heading {
	text-align: left;
	margin-left: 5%;
	padding-bottom: 20px;
}

.post-comment {
	padding-top: 40px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.comment-area {
	height: 100px;
}

.comment-container {
	padding-top: 20px;
	padding-bottom: 20px;
}


/*
	Edit page
*/


textarea#text_area {

	height: 400px;
	font-size: 1.5em;
	border: none;
}

#image_file {
			border: none;
			color: #2ecc71;
			background-color: #2ecc71;
			height: 10px;
	}

