.center_div {
      width: 35%;
      margin: 0 auto;
    }
    .reg_header {
      margin-top: 5%;
      text-align: center;
      font-family: 'Raleway', Helvetica;
    }

    .reg_label {
      font-size: 1.2em;
      margin-top: 25px;
    }

    .reg_input input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #bdc3c7;
      outline-width: 0;
    }
    .reg_input input:hover {
      border: 1px solid #2ecc71;
    }
    .submit_btn {
      background-color: white;
      width: 150px;
      margin-top: 20px;
      font-size: 1.2em;
      padding: 10px;
      border-radius: 15px;
      margin-bottom: 5px;
      color: #2ecc71;
      border: 1px solid #2ecc71;
      margin: auto;
    }
    .submit_btn:hover {
      background-color: #2ecc71;
      color: white;
    }
    .remember_me {
      margin-top: 10px;
    }

  /*