// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//profile page

.user-description {

}

.user-stats {
	display: none;
}

.user-link {
	font-size: 1.5rem;
	font-weight: bold;
}

.user-link {
	color: black;
	display: inline;
}

.row {
	clear: both;
}

.user-info {
	width: 50%;
}

.user-card {
	height: 300px;
}