<footer class="pull-left">
	<div class='container'>
	<p class='text-center'>
		<% unless current_user %>
			<%= link_to 'sign in', new_user_session_path, class: 'footer-link'%>
		<% end %>
		<%= link_to 'about us', about_path, class: 'footer-link'%>
		<%= link_to 'articles', articles_path, class: 'footer-link'%></p>
	</div>
</footer>